img {
    width: 100%;
}

label {
    display: inline-block;
    margin: 20px;
}

header input[type=checkbox] {
    display: none;
}
header input[type=checkbox] ~ label #m-open {
    display: block;
}
header input[type=checkbox] ~ label #m-shut {
    display: none;
}
header input[type=checkbox] ~ nav {
    display: none;
}
header input[type=checkbox]:checked ~ nav {
    display: flex;
}
header input[type=checkbox]:checked ~ label #m-open {
    display: none;
}
header input[type=checkbox]:checked ~ label #m-shut {
    display: block;
}

a:link, a:active, a:visited {
    text-align: center;
    color: #183b65;
    display: block;
    background-color: #a9d1e3;
    transition: color 0.5s ease 0s;
    padding: 10%;
    cursor: pointer;
    text-decoration: none; /*removes underline*/
}

a:hover {
    background-color: #183b65;
    color: #fff;
}

body {
    max-width: 960px;
    margin: 1% auto;
    background-color: #fff;
}

html {
    background-color: rgb(87, 87, 87);
}

.photo-of-me {
    max-width: 200px;
    margin: 2% 30%;
    padding-bottom: 15%;
}

.logo {
    max-width: 450px;
    display: inline-block;
}

#desktop-nav {
    display: none;
}

.feature-img img {
    max-width: 300px;
    display: inline-block;
    margin: 2% 20%;
    padding: 20% 0;
}

h1 {
    line-height: 1em;
    font-size: 3em;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 8% 2% 5% 2%;
}

p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    line-height: 1.5em;
    padding: 2% 5% 8% 5%;
}

h2 {
    line-height: 1em;
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 8% 0 8% 0;
    background-color: #a9d1e3;
    color: #183b65;
    margin-bottom: 6%;
}

footer {
    background-color: #b6bcbf;
    padding: 6% 2% 2% 2%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    line-height: 1em;
    color: #fff;
}

footer p {
    padding: 2%;
}

h3 {
    color: #fff;
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 4%;
    padding-left: 2%;
    margin-top: 15%;
}

h6 {
    font-size: 0.6em;
    font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding: 15% 0 8% 0;
}

.resume {
    font-size: 1.5em;
    padding: 4% 2% 2% 2%;
    background-color: #fff;
    color: #183b65;
    margin-top: 2%;
}

ul .resume-list {
    list-style: circle inside none;
    padding: 0 6%;
    margin-top: -5%;
    margin-bottom: 7%;
}

li .resume-list {
    padding: 10px 0;
}

.resume-link {
    margin: 30% 0;
}

.design-work {
    margin-top: 20%;
}

.design-intro {
    margin: 15% 0;
    border-bottom: #a9d1e3 30px solid;
}

div h3 {
    color: #183b65;
    margin: 5% 0 15% 0;
    text-align: center;
}

.design-img {
    max-width: 300px;
    width: 100%;
    margin: 0 20%;
}

.design-img2 {
    max-width: 300px;
    width: 100%;
    margin: 0 20%;
}

.design-img3 {
    max-width: 300px;
    width: 100%;
    margin: 0 20%;
}

.design-p {
    padding: -500px 4%;
    margin-bottom: 12%;
    border-bottom: #183b65 6px solid;
}

#harry-drawing {
    padding: 20% 0;
}

.physical-img {
    max-width: 300px;
    width: 100%;
    margin: 0 20%;
    padding: 10px 0;
}

.artwork {
    background-color: #183b65;
    color: #fff;
    margin-top: 20%;
}

.photo-img {
    max-width: 300px;
    width: 100%;
    margin: 0 20%;
    padding: 15% 0;
}

@media screen and (min-width: 540px) {
    label {
        display: none;
    }
    #mobile-nav {
        display: none;
    }
    #desktop-nav {
        display: block;
    }
    #desktop-nav ul {
        display: flex;
        justify-content: space-around;
    } /* ONLY styling the <ul> inside of #desktop-nav*/
    nav {
        height: 50px;
        position: relative;
        text-align: center;
        margin-top: 90px;
        display: block;
    }
    nav li {
        text-align: center;
        flex: 1;
        font-weight: bold;
    }
    nav ul {
        display: flex;
    }
    a:link, a:active, a:visited {
        text-align: center;
        color: #183b65;
        display: block;
        background-color: #a9d1e3;
        transition: color 0.5s ease 0s;
        padding: 10%;
        cursor: pointer;
        text-decoration: none; /*removes underline*/
    }
    a:hover {
        background-color: #183b65;
        color: #fff;
    }
    p {
        padding: 2%;
    }
}
@media screen and (min-width: 768px) {
    .about-me p {
        margin: 4%;
    }
    .about-me {
        display: flex;
    }
    .photo-of-me {
        flex: 2;
        max-width: 200px;
        margin: 2% 10%;
        padding-bottom: 15%;
    }
    .logo {
        max-width: 450px;
        margin: 0 0 0 25%;
    }
    .feature-img {
        display: grid;
    }
    .home-img-rococo {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .home-img-willi {
        grid-column-start: 6;
        grid-column-end: 9;
    }
    footer {
        text-align: center;
    }
    footer p {
        padding: 0;
        text-align: center;
    }
    footer h3 {
        margin-left: -20px;
    }
    footer h6 {
        padding-bottom: 2%;
    }
    .resume-list {
        padding: 6% 0;
        line-height: 30px;
    }
    .resume {
        background-color: #183b65;
        color: #a9d1e3;
        text-align: center;
    }
    .resume-link {
        padding: 4% 0;
    }
    .resume-desktop {
        padding: 6%;
    }
    .resume-contact-info {
        text-align: center;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .artwork {
        background-color: #a9d1e3;
        color: #183b65;
        padding: 3%;
    }
    .physical-par {
        padding: 5% 10%;
    }
    .physical-img img {
        margin: 0;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        display: inline-block;
    }
    .grid-wrapper > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-wrapper > div > img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 5px;
    }
    .grid-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 200px;
        grid-auto-flow: dense;
    }
    .grid-wrapper .wide {
        grid-column: span 2;
    }
    .grid-wrapper .tall {
        grid-row: span 2;
    }
    .grid-wrapper .big {
        grid-column: span 2;
        grid-row: span 2;
    }
    .photo-img img {
        width: 100%;
        height: auto;
        display: block;
        padding: 10px;
        box-sizing: border-box;
    }
    .container {
        -moz-column-count: 3;
             column-count: 3;
        -moz-column-gap: 15px;
             column-gap: 15px;
        align-content: space-around;
        max-width: 850px;
    }
    .design-p {
        padding: 4%;
        border-bottom: none;
    }
    .design-img {
        max-height: 300px;
        max-width: 500px;
        margin: 20px 100px 20px 20px;
        flex: 2;
    }
    .design-img2 {
        max-height: 400px;
        max-width: 300px;
        margin: 5px 100px 5px 5px;
        flex: 2;
        width: 100%;
        margin: 0 10%;
    }
    .design-img3 {
        max-height: 300px;
        max-width: 300px;
        margin: 5px 100px 5px 5px;
        flex: 2;
        width: 100%;
        margin: 0 10%;
    }
    .design-p {
        margin-left: 40px;
        margin-right: 40px;
    }
    .design-work {
        padding: 25px;
    }
    .design-intro {
        padding: 0 15% 15% 15%;
    }
    .db-design {
        display: flex;
        border-bottom: #183b65 6px solid;
        padding-bottom: 10%;
    }
    .willi {
        display: flex;
        border-bottom: #183b65 6px solid;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .dog-stop {
        display: flex;
        border-bottom: #183b65 6px solid;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .weavegrid {
        display: flex;
        border-bottom: #183b65 6px solid;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .mondo-llama {
        display: flex;
        border-bottom: #183b65 6px solid;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .diemert-insurance {
        display: flex;
        border-bottom: #183b65 6px solid;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .zero-motor {
        display: flex;
        border-bottom: #183b65 6px solid;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .hutto-vet {
        display: flex;
        border-bottom: #183b65 6px solid;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .okemo {
        display: flex;
        border-bottom: #183b65 6px solid;
        padding-bottom: 10%;
        padding-top: 10%;
    }
}