working/favicon.ai
working/favicon.jpg
working/artwork for website/photo of me.jpg
working/artwork for website/design work/DB Design/barrante-back of brochure.jpg
working/artwork for website/design work/DB Design/barrante-front of brochure.jpg
working/artwork for website/design work/Diemert Insurance/barrante-b2b-mockups.png
working/artwork for website/design work/Diemert Insurance/barrante-doorhangers-mockup.png
working/artwork for website/design work/Diemert Insurance/barrante-magazine-mockup-final.png
working/artwork for website/design work/Diemert Insurance/barrante-magazine-mockup.png
working/artwork for website/design work/Mondo Llama/barrante packaging design.pdf
working/artwork for website/design work/Mondo Llama/package design.png
working/artwork for website/design work/The Dog Stop/newsletter single piece2 mockup.png
working/artwork for website/design work/Zero Motors/zero motors_4pg brochure.png
working/artwork for website/design work/hutto vet/brochure-hutto-vet-mockup.png
working/artwork for website/design work/hutto vet/hutto-lab coat-mockup.pdf
working/artwork for website/design work/hutto vet/hutto-lab coat-mockup.png
working/artwork for website/design work/hutto vet/hutto-scrubs-mockup.pdf
working/artwork for website/design work/hutto vet/hutto-scrubs-mockup.png
working/artwork for website/design work/hutto vet/hutto-stickers-mockup.png
working/artwork for website/design work/hutto vet/postcards-hutto-vet mockup.png
working/artwork for website/design work/hutto vet/stickers-clothes hutto.png
working/artwork for website/design work/hutto vet/stickers-clothes hutto.psd
working/artwork for website/design work/okemo/okemo-booklet-mockup.png
working/artwork for website/design work/okemo/okemo-booklet-mockup.psd
working/artwork for website/design work/weavegrid/weavegrid website.png
working/artwork for website/design work/weavegrid/weavegrid website.psd
working/artwork for website/design work/weavegrid/weavegrid-buisness card.png
working/artwork for website/design work/weavegrid/weavegrid-landing page.png
working/artwork for website/design work/weavegrid/weavegrid-landingpage.png
working/artwork for website/design work/weavegrid/weavegrid-leaderboard.png
working/artwork for website/design work/weavegrid/weavegrid-newsletter.png
working/artwork for website/design work/weavegrid/weavegrid-poster.png
working/artwork for website/design work/weavegrid/weavegrid-skyscraper.png
working/artwork for website/design work/willi's/stationary mockup.png
working/artwork for website/design work/willi's/sticker mockup.png
working/artwork for website/design work/willi's/willi's manual mockup.png
working/artwork for website/photography/IMG_0400.jpeg
working/artwork for website/photography/IMG_0416.jpeg
working/artwork for website/photography/IMG_1348.HEIC
working/artwork for website/photography/IMG_3867.PNG
working/artwork for website/photography/IMG_4176.JPG
working/artwork for website/photography/IMG_4810.JPG
working/artwork for website/photography/IMG_4820.JPG
working/artwork for website/photography/IMG_5901.PNG
working/artwork for website/photography/IMG_6931.JPG
working/artwork for website/photography/IMG_7113.JPG
working/artwork for website/photography/IMG_7118.JPG
working/artwork for website/photography/IMG_7349.JPG
working/artwork for website/photography/IMG_7460.JPG
working/artwork for website/photography/IMG_7469.JPG
working/artwork for website/photography/IMG_7481.JPG
working/artwork for website/photography/IMG_8072.JPG
working/artwork for website/photography/IMG_8098.JPG
working/artwork for website/traditional art/IMG_0296.JPG
working/artwork for website/traditional art/IMG_0402.jpeg
working/artwork for website/traditional art/IMG_0403.jpeg
working/artwork for website/traditional art/IMG_0404.jpeg
working/artwork for website/traditional art/IMG_0405.jpeg
working/artwork for website/traditional art/IMG_0406.jpeg
working/artwork for website/traditional art/IMG_0407.jpeg
working/artwork for website/traditional art/IMG_0410.jpeg
working/artwork for website/traditional art/IMG_0411.jpeg
working/artwork for website/traditional art/IMG_0412.jpeg
working/artwork for website/traditional art/IMG_0415.jpeg
working/artwork for website/traditional art/IMG_0422.jpeg
working/artwork for website/traditional art/IMG_0423.jpeg
working/artwork for website/traditional art/IMG_0424.jpeg
working/artwork for website/traditional art/IMG_0425.jpeg
working/artwork for website/traditional art/IMG_0426.jpeg
working/artwork for website/traditional art/IMG_0428.jpeg
working/artwork for website/traditional art/IMG_0429.jpeg
working/artwork for website/traditional art/IMG_0431.jpeg
working/artwork for website/traditional art/IMG_0432.jpeg
working/artwork for website/traditional art/IMG_0623.JPG
working/artwork for website/traditional art/IMG_0740.JPG
working/artwork for website/traditional art/IMG_1116.JPG
working/artwork for website/traditional art/IMG_1117.JPG
working/artwork for website/traditional art/IMG_1206.HEIC
working/artwork for website/traditional art/IMG_1340.JPG
working/artwork for website/traditional art/IMG_1346.JPG
working/artwork for website/traditional art/IMG_2080.JPG
working/artwork for website/traditional art/IMG_2120.JPG
working/artwork for website/traditional art/IMG_2413.JPG
working/artwork for website/traditional art/IMG_2478.JPG
working/artwork for website/traditional art/IMG_2500.JPG
working/artwork for website/traditional art/IMG_2614.JPG
working/artwork for website/traditional art/IMG_3020.JPG
working/artwork for website/traditional art/IMG_3834.JPG
working/artwork for website/traditional art/IMG_5402.PNG
working/artwork for website/traditional art/IMG_6335.JPG
working/artwork for website/traditional art/IMG_6556.JPG
working/artwork for website/traditional art/IMG_7813.JPG
working/artwork for website/traditional art/IMG_7898.JPG
working/psd/arizona-skateboard.psd
working/psd/barrante packaging design-mondo-llama.psd
working/psd/barrante-b2b-mockups-diemert.psd
working/psd/barrante-brochure-hutto-vet-mockup.psd
working/psd/barrante-brochure-mockup-diemert.psd
working/psd/barrante-doorhangers-mockup-diemert.psd
working/psd/barrante-front of brochure-db-design.psd
working/psd/barrante-zero-motors_4pg-brochure.psd
working/psd/beauty-beast.psd
working/psd/collage.psd
working/psd/custom-box.psd
working/psd/custom-box1.psd
working/psd/deadpool.psd
working/psd/deer.psd
working/psd/dinosaur-cards.psd
working/psd/dinosaur.psd
working/psd/dragon.psd
working/psd/godzilla.psd
working/psd/harlan.psd
working/psd/harry-drawing.psd
working/psd/hutto-lab coat-mockup.psd
working/psd/hutto-scrubs-mockup.psd
working/psd/hutto-stickers-mockup.psd
working/psd/mars.psd
working/psd/newsletter single piece2 mockup-dog-stop.psd
working/psd/ocean.psd
working/psd/okemo-booklet-mockup.psd
working/psd/orion.psd
working/psd/package design-mondo-llama.psd
working/psd/penguins.psd
working/psd/peppers-water.psd
working/psd/pokemon.psd
working/psd/postcards-hutto-vet mockup.psd
working/psd/skiing.psd
working/psd/SkillsUSA.psd
working/psd/spiderman-photo1.psd
working/psd/spiderman.psd
working/psd/spidey-shoes.psd
working/psd/stationary mockup-willi's.psd
working/psd/steel-whool.psd
working/psd/sticker mockup-willis.psd
working/psd/the-officre.psd
working/psd/tigers-painting.psd
working/psd/weavegrid-buisness card.psd
working/psd/weavegrid-landing page.psd
working/psd/weavegrid-landingpage.psd
working/psd/weavegrid-leaderboard.psd
working/psd/weavegrid-newsletter.psd
working/psd/weavegrid-poster.psd
working/psd/weavegrid-skyscraper.psd
working/psd/whale-shark.psd
working/psd/willi's manual mockup-willi's.psd
working/psd/zero-motors_4pg-brochure.psd
working/psd/zuko.psd
